POSTGRESS_DATABASE_URL=add_your_postgres_database_url_here
POSTGRES_DATABASE_URL=add_your_postgres_database_url_here
REDIS_URL=add_your_redis_url_here
GOOGLE_CLIENT_ID=add_your_google_client_id_here
SESSION_COOKIE_NAME=phy_chat_session
SESSION_TTL_MINUTES=10080
COOKIE_SECURE=false
ALLOWED_EMAIL_DOMAIN=sjb.mrt.ac.lk
GOOGLE_API_KEY=add_your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash
